%h1
  = 'Opponents'

%table
  %thead
    %tr
      %th
        = 'Name'
      %th
      %th

  %tbody
    - @opponents.each do |opponent|
      %tr
        %td
          = opponent.name
        %td
          = link_to 'Show', opponent
        %td
          = link_to 'Edit', edit_opponent_path(opponent)
