= form_for @game do |f|
  - if @game.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@game.errors.count, "error")} prohibited this answer from being saved:"
      %ul
        - @game.errors.full_messages.each do |message|
          %li
            = message
  .field
    = f.label :opponent
    = f.collection_select(:opponent_id, Opponent.all, :id, :name)
  .field
    = f.label :location
    = f.collection_select(:location_id, Location.all, :id, :full_location)
  .field
    = f.label :notes
    = f.text_area :notes
  .actions
    = f.submit 'Save'
