-# game

.columns
  .col
    %p
      %b
        = 'Overview Details:'
    %table
      %thead
        %tr
          %th
          %th
      %tbody
        %tr
          %td
            = 'Date Played'
          %td
            = game.date_played.present? ? simple_date_format(game.date_played) : 'N/A'
        %tr
          %td
            = 'Opponent'
          %td
            = game.opponent.name
        %tr
          %td
            = 'Location'
          %td
            = "#{game.location.city}, #{game.location.state}"
        %tr
          %td
            = 'Result'
          %td
            = game.result.present? ? game.result.titleize : 'N/A'
        %tr
          %td
            = 'Notes'
          %td
            = game.notes
