.row
  - @games.each do |game|
    .col-sm-4
      .card.mb-4
        .card-header
          = link_to game.opponent.name, game
          %span.float-right
            = game.date_played.strftime('%b %d, \'%y')
        .card-body
          %ul.list-group.list-group-flush
            - %w[points rebounds assists steals blocks].each do |stat|
              %li.list-group-item.d-flex.justify-content-between.align-items-center
                = stat.capitalize
                %span.badge.badge-primary.badge-pill
                  = game.send("#{stat}_total")
