%h1 Games

%table
  %thead
    %tr
      %th Opponent Name
      %th Notes
      %th Result
      %th
      %th

  %tbody
    - @games.each do |game|
      %tr
        %td
          = game.opponent.name
        %td
          = game.notes
        %td
          = game.result.present? ? game.result.titleize : 'N/A'
        %td
          = link_to 'Show', game
        %td
          = link_to 'Edit', edit_game_path(game)
