.row
  .col-sm-6
    %p.h4
      = 'Log in'
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = label_tag :email
        = f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control'
      .form-group
        = label_tag :password
        = f.password_field :password, autocomplete: "current-password", class: 'form-control'
      - if devise_mapping.rememberable?
        .form-group
          = f.check_box :remember_me
          = label_tag :remember_me
      .actions
        = f.submit "Log in", class: 'btn btn-primary'
= render "devise/shared/links"
